<meta http-equiv="refresh" content="1" />
<div class="container">

<%= render 'layouts/flipcoin' %>

<%= render 'layouts/infobar' %>

<%= render 'layouts/stats' %>


<p class="smallinfo"><%= checkforcookie %></p>

</div>

<%= render 'layouts/footer' %>

