<h1><%= Faker::Hipster.word.capitalize %> <%= Faker::Hipster.word.capitalize %></h1>

<p>You flipped a coin and got <strong><%= flipcoin %></strong></p>
<hr>
<p><%= Faker::ChuckNorris.fact %></p>
<hr>
<p><%= Faker::Hacker.say_something_smart %></p>
